@media screen and (max-width : 1000px) {
    
body,html{
    width: 100%;
    margin: auto;
overflow: hidden;
}
.text-holder{
     box-shadow: 5px 15px 25px  rgba(43, 43, 43, 0.637);
    background-color: #050c0aa2;
    width: 800px;
    height: 570px;
    position: absolute;
    margin: 900px 0 0 100px;
    border-radius: 35px;
}
.text{
    color: white;
    font-size: 50px;
  margin-left: 45px;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.visit{
    box-shadow: 2px 2px 10px black;
    font-family: Axiformia, sans-serif;
    color: #d6e6f2;
    border: none;
    border-radius: 35px;
    font-weight: bolder;
    width: 550px;
    height: 120px;
    margin: 1400px 0 0 200px;
    font-size: 55px;
    position: absolute;
    background-color: #DA8E30;
}
.visit:hover{
    margin-top: 1395px;
}
/* ================== */









}