@media screen and (max-width : 1000px) {
    
body,html{
    position: fixed;
    width: 100%;
    margin: auto;
    background-color: #CAE8FF;
}
.fillcolor{
    /* border: 10px solid red; */
    width: 100%;
   display: flex;
    overflow: hidden;
}
.fill-img{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.visit{
    color: black;
    height: 80px;
    box-shadow: 5px 5px 25px black;
    background: linear-gradient(to right,rgb(204, 101, 255),rgba(4, 0, 255, 0.801));
    font-weight: bold;
    width: 250px;
    font-size: 44px;
    border-radius: 25px;
    position: absolute;
    margin: -300px 0 0 500px;
}
.maintext{
  color: wheat;
    font-size: 75px;
    position: absolute;
    font-weight: bolder;
    margin: 450px 0 0 320px;
font-family: 'Times New Roman', Times, serif;
}
.square{
    margin: -400px 0 0 0;
    transform: rotate(135deg);
    width: 1000px;
    height: 1000px;
    position: absolute;
    background-color: #050A30;
}





}