@media screen and (max-width : 1000px) {
    
body,html{
    width: 100%;
    margin: auto;
}
.fillcolor{
    /* border: 1px solid white; */
    width: 100%;
    overflow: hidden;
}
.fill-img{
    width: 1050px;
    z-index: 1;
}










}